@import '../../styles/grid';
@import '../../styles/mixins';
@import '../../styles/colors';

$orange: $primary;
$white: $gray-5;

.grid-wrapper {
    @include grid(12, 24px);    
    @include grid-rows(5);
    grid-row-gap: sp(3);
    margin: 0 auto;
}

.box {
    background: $orange;
    padding: 5px;
    min-height: 10vh;
    color: $white;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@for $i from 1 through 12 {
    .-span#{$i} {
        @include grid-span($i);
    }
}