@import 'styles/mixins';
@import 'styles/fonts';
@import 'styles/colors';

$create-party-icon-color: $primary;

.create-party {
    &__help-icon {
        @extend .font--h4;
        color: $create-party-icon-color;
    }

    &__form {
        .input-wrapper__wrapper,
        .select-wrapper__wrapper {
            width: 35%;
        }
    }

    &__inline-fields {
        display: flex;
        align-items: center;

        .select-wrapper__wrapper:first-child {
            margin-right: sp(3);
        }

        .input-wrapper__wrapper {
            flex: 1;

            &:first-child {
                flex: 1.5;
            }
        }
    }

    &__upload {
        width: 40%;
    }
}

.upload {
    &__label,
    &__label-meta {
        display: inline-block;
    }

    &__label {
        @extend .font--body;
    }

    &__label-meta {
        @extend .font--note;
    }

    &__button {
        display: block;
        margin-top: sp(2);
    }
}