@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/shadows';
@import 'styles/fonts';

$button-disabled-bg: $gray-5;
$button-disabled-color: $gray-4;
$default-button-bg: $primary;
$default-button-hover-bg: $primary-dark;
$default-color: $gray-5;
$default-button-focus: $complementary;

$secondary-button-bg: $gray-1;
$secondary-button-color: $white;

%button {
    @extend .shadow--regular;
    @extend .font--button;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding: sp(1) sp(3);

    &:focus {
        border: 1px solid;
    }

    &:active {
        box-shadow: none;
    }

    &:disabled {
        background: $button-disabled-bg;
        color: $button-disabled-color;
        box-shadow: none;

        &:hover {
            background: $button-disabled-bg;
        }
    }
}

.button {
    &--default {
        @extend %button;
        background: $default-button-bg;
        color: $default-color;

        &:hover {
            background: $default-button-hover-bg;
        }

        &:focus {
            border-color: $default-button-focus;
        }
    }

    &--secondary {
        @extend %button;
        background: $secondary-button-bg;
        color: $secondary-button-color;
    }
}