@import 'styles/mixins';
@import 'styles/grid';
@import 'styles/fonts';
@import 'styles/colors';

$grid-padding: sp(3);
$product-code-color: $success;

.products {
    &__selection-wrapper {
        margin-top: sp(3);
    }

    &__selection-title {
        @extend .font--h3;
    }

    &__selector-wrapper {
        @include grid(10, $grid-padding);
        grid-auto-rows: 1fr;
        margin-top: sp(2);
    }

    &__product {
        @include grid-span(4);
        display: flex;
        align-content: stretch;
    }

    &__submit {
        margin-top: sp(3);
    }
}

.product {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        margin: 0;
    }

    &__code {
        @extend .font--note;
        color: $product-code-color;
        margin: 0;
    }

    &__description {
        @extend .font--input;
        margin: sp(1) 0 0;
    }
}