@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/grid';
@import 'styles/mixins';

$dashboard-bg: $white;

.dashboard {
    &__wrapper {
        background: $dashboard-bg;
    }

    &__header {
        @include grid(10, sp(3));
    }

    &__queue {
        margin: sp(5) 0;
    }

    &__queue-items-wrapper {
        padding: sp(2) 0;
        display: flex;
        flex-wrap: wrap;

        .queue-card__wrapper {
            width: 30%;
        }
    }

    &__section-header {
        @extend .font--h3;
    }
}

.new-party-card {
    &__wrapper {
        @include grid-span(3);
    }

    &__icon {
        @extend .font--h1;
    }

    &__text {
        @extend .font--h3;
        margin-top: sp(2);
    }

    &__text-emphasis {
        @extend .bold;
        display: block;
        font-style: normal;
    }
}

.search-card {
    &__wrapper {
        @include grid-span(6);
        display: flex;
    }

    &__icon {
        @extend .font--h1;
    }

    &__text {
        @extend .font--h3;
        margin-top: sp(2);
    }

    &__text-emphasis {
        @extend .bold;
        display: block;
        font-style: normal;
    }

    &__form-wrapper {
        flex: 1;
        display: flex;
    }
}