@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/grid';
@import 'styles/mixins';

$dashboard-bg: $white;
$grid-size: 10;
$grid-spacing: sp(3);

.dashboard {
    &__wrapper {
        background: $dashboard-bg;
        border: 1px solid red;
    }

    &__header {
        @include grid($grid-size, $grid-spacing);
    }

    &__queue {
        margin: sp(5) 0;
    }

    &__queue-items-wrapper {
        @include grid($grid-size, $grid-spacing);
        padding: sp(2) 0;

        .queue-card__wrapper {
            @include grid-span(3);
        }
    }

    &__section-header {
        @extend .font--h3;
    }
}

.new-party-card {
    &__wrapper {
        @include grid-span(2);
    }

    &__icon {
        @extend .font--h1;
    }

    &__text {
        @extend .font--h3;
        margin-top: sp(2);
    }

    &__text-emphasis {
        @extend .bold;
        display: block;
        font-style: normal;
    }
}

.search-card {
    &__wrapper {
        @include grid-offset(2, 5, $grid-size);
        display: flex;
    }

    &__icon {
        @extend .font--h1;
    }

    &__text {
        @extend .font--h3;
        margin-top: sp(2);
    }

    &__text-emphasis {
        @extend .bold;
        display: block;
        font-style: normal;
    }

    &__form-wrapper {
        flex: 1;
        display: flex;
    }
}