@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/shadows';

$title-bg: $primary;
$title-color: $white;
$title-collapsed-bg: $white;
$title-collapsed-color: $gray-1;
$title-collapsed-collapsible-icon-color: $gray-3;
$title-collapsible-icon-color: $white;

.titled-card {
    &__wrapper {
        @extend .shadow--regular;
        padding: 0;
        border-radius: $border-radius;
        overflow: hidden;

        &.--collapsed {
            @extend .shadow--small;
        }
    }

    &__header {
        @extend .font--body;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background: $title-bg;
        padding: sp(2) sp(5) sp(2) sp(2);
        color: $title-color;
        transition: 
            background .05s .2s,
            color .3s .2s;

        .--collapsed & {
            background: $title-collapsed-bg;
            color: $title-collapsed-color;
        }

        &.--collapsible {
            cursor: pointer;
        }
    }

    &__collapse-wrapper {
        position: absolute;
        right: sp(2);
    }

    &__collapse-icon {
        font-size: px(20);
        color: $title-collapsible-icon-color !important;

        .--collapsed & {
            color: $title-collapsed-collapsible-icon-color !important;
        }
    }

    &__body {
        padding: sp(2);

        .--collapsed & {
            height: 0;
            padding: 0;
            display: none;
        }
    }
}