@import 'styles/mixins';

.dashboard-search {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__input { 
        margin: 0 sp(3);
        display: block;
        flex: 3;

        input {
            width: 100%;
        }
    }

    &__button {
        margin: 0;
        display: block;
    }
}