$primary:           hsl(19.2, 85%, 55.3%);
$primary-dark:      hsl(19, 92%, 41%);
$complementary:        hsl(199, 100%, 42%);
$complementary-dark:   hsl(199, 99%, 34%);

$secondary-blue:        hsl(210, 65%, 30%);
$secondary-light-blue:  hsl(186, 45%, 76%);
$secondary-gray:        hsl(216, 33%, 97%);

$gray-1: hsl(0, 0%, 13%);
$gray-2: hsl(0, 0%, 26%);
$gray-3: hsl(0, 0%, 38%);
$gray-4: hsl(0, 0%, 62%);
$gray-5: hsl(0, 0%, 93%);

$success:   hsl(123, 41%, 45%);
$error:     hsl(0, 73%, 41%);
$warning:   hsl(46, 100%, 50%);

$shadow: hsla(0, 0%, 29%, 0.3);
