@import 'styles/mixins';

@mixin grid($cols: 12, $gutter: sp(2)) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-column-gap: $gutter;
}

@mixin grid-span($span) {
    grid-column: span $span;
}

@mixin grid-rows($rows) {
    grid-template-rows: repeat($rows, 1fr);
}