@import '../styles/fonts';
@import '../styles/base';
@import '../styles/mixins';
@import '../styles/grid';

.styleguide {
    &__wrapper {
        @include grid(12);
    }

    &__section-wrapper {}

    &__section-title {
        @extend .font--h3;
    }

    &__icon-wrapper {
        padding: sp(1);
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__icon-label {
        display: block;
        font-size: 14px;
        margin: sp(1) 0;
    }

    &__nav-container {
        @include grid-span(2);
    }
}