@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/grid';

$grid-padding: sp(3);
$party-info-account-number-color: $gray-4;
.products-header {
    &__wrapper {
        @include grid(10, $grid-padding);
    }

    &__party-info {
        @include grid-span(3);
    }

    &__party-address {
        @include grid-span(5);
    }
}

.party-info {
    &__tenant-logo {
        margin-bottom: sp(3);

        .logo__image {
            max-width: 50%;
        }
    }

    &__account-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__account-number {
        color: $party-info-account-number-color;
    }
}

.party-address {
    &__contact-wrapper {
        display: flex;
        justify-content: space-between;
    }
}