@import 'styles/grid';
@import 'styles/mixins';

.app {
    &__wrapper {
        @include grid(12);
        height: 100vh;
        max-height: 100vh;
        grid-template-rows: [header] 80px [body] auto;
    }

    &__header-wrapper {
        @include grid-span(12);
    }

    &__nav__wrapper {
        @include grid-span(2);
    }

    &__panel-wrapper {
        @include grid-span(10);
        padding: sp(1);
    }

    &__footer-wrapper {
        @include grid-span(10);
        padding: sp(1);
    }
}