@import 'styles/grid.scss';

.app {
    &__wrapper {
        @include grid(12);
        height: 100vh;
        max-height: 100vh;
        grid-template-rows: 5vh auto 5vh;
        overflow: hidden;
    }

    &__header-wrapper {
        @include grid-span(12);
    }

    &__nav-wrapper {
        @include grid-span(2);
    }

    &__panel-wrapper {
        @include grid-span(10);
    }

    &__footer-wrapper {
        @include grid-span(12);
    }
}