@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/fonts';
@import 'styles/grid';

$product-config-tooltip-color: $primary;
$grid-span: sp(3);
$product-config-header-color: $white;
$product-config-success-header-bg: $success;
$product-config-success-header-color: $white;

.product-config {
    &__header {
        display: flex;
        align-items: center;
    }

    &__product-title {
        .product {
            &__title {
                margin-right: sp(1);
            }

            &__code--header {
                @extend .font--note;
            }
        }
    }

    &__tooltip-icon {
        font-size: px(20);
        color: $product-config-tooltip-color;
    }

    &__content {
        margin-top: sp(3);
    }

    &__title {
        @extend .font--h3;
    }

    &__selection-rules-wrapper {
        @extend .font--label;
        margin: 0;
        top: sp(1);
        display: inline-block;
        vertical-align: middle;
    }


    &__configurations-wrapper {
        @include grid(10, $grid-span);
        margin: sp(3) 0;
    }

    &__feature-card {
        @include grid-span(8);

        &.--completed {
            .titled-card__header {
                background: $product-config-success-header-bg !important;
                color: $product-config-success-header-color;
            }
        }
    }

    &__checkbox {
        margin: sp(1) 0;
    }
}

.platform-product {
    &__name {
        @extend .font--button;
        @extend .bold;
        margin-right: sp(1);
    }

    &__desc {
        margin-left: sp(1);
    }
}