@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/grid';
@import 'styles/mixins';

$footer-nav-link-color: $gray-2;

.app__footer-wrapper {
    @include grid(10);
    padding: sp(3) sp(1);
    align-content: center;
}

.footer {
    &__copyright-notice {
        @include grid-offset(8, 2, 10);
        @extend .font--label;
        padding: sp(1);
        text-align: right;
    }

    &__links-wrapper {
        @include grid-span(10);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-wrapper {
        display: inline-flex;
        flex: 1;
    }

    &__nav-item-wrapper {
        padding: sp(1);
    }

    &__nav-link {
        @extend .font--note;
        color: $footer-nav-link-color;
        text-decoration: none;
    }

    &__brand-wrapper {
        max-width: 30vw;
        display: inline-flex;
        justify-content: flex-end;
    }

    &__brands-image {
        width: 80%;
    }
}