@import 'styles/mixins';
@import 'styles/grid';
@import 'styles/colors';
@import 'styles/fonts';

$clone-help-bg: $primary-dark;
$clone-help-icon-color: $white;
$clone-color: $white;

.confirmation {
    &__wrapper {
        @include grid(10);
    }

    &__banner {
        margin: sp(-2) sp(-2) 0 sp(-4);
        @include grid-span(10);
    }

    &__title {
        @extend .font--h3;
        margin: sp(2) 0 sp(3);
    }

    &__info-wrapper {
        @include grid-span(6);
        padding: sp(3);
    }

    &__party-overview {
        margin-bottom: sp(3);
    }

    &__actions-wrapper {
        @include grid-span(4);
    }

    &__clone-help {
        display: flex;
        background: $clone-help-bg;
        color: $clone-color;
        align-items: center;
    }

    &__action-cards-wrapper {
        display: flex;

        .card__wrapper {
            flex: 1;
            margin: 0 sp(1);
        }
    }

    &__link-to-create {
        display: block;
    }
}


// TODO - Candidate for a Component?
.clone-help {
    &__title {
        @extend .font--h3;
        @extend .normal;
        margin-left: sp(2);
    }

    &__emphasis {
        font-style: normal;
    }

    &__icon {
        display: inline-block!important;
        color: $clone-help-icon-color !important;
    }
}

// TODO - Candidate for a Component?
.queue-card {
    &__title {
        @extend .font--h3;
        margin: sp(1) 0 sp(2);
    }

    &__emphasis {
        @extend .bold;
    }

    &__link {
        @extend .font--body;
    }
}