@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/fonts';


$input-text-border: $gray-5;
$input-text-active-border: $gray-2;
$input-text-focus-border: $complementary;
$input-text-placeholder: $gray-4;
$input-label-error: $error;
$input-error-color: $error;

.input-wrapper {
    &__wrapper {
        margin-bottom: sp(3);
    }

    &__label {
        @extend .font--label;
        display: block;

        .--error & {
            color: $input-label-error;
        }
    }

    &__input {
        &.--text {
            @extend .font--input;
            line-height: sp(4);
            padding: 0 sp(2);
            border-radius: 4px;
            border: 2px solid $input-text-border;

            &:focus {
                border-color: $input-text-focus-border;
            }

            &:active {
                border-color: $input-text-active-border;
            }

            &::placeholder {
                color: $input-text-placeholder;
                font-style: italic;
            }
        }
    }

    &__error {
        @extend .font--error;
        color: $input-error-color;
        display: block;
    }
}