@import '~normalize.css/normalize.css';
@import 'styles/base';
@import 'styles/colors';

$body-bg: $background;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $body-bg;
    font-family: 'Open sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}
