@import 'styles/colors';
@import 'styles/shadows';
@import 'styles/mixins';
@import 'styles/fonts';

$nav-wrapper-border-color: $gray-5;
$nav-item-bg: $secondary-gray;
$nav-item-color: $gray-1;
$nav-item-active-color: $primary;
$nav-bg: $white;

.app__nav {
    &__wrapper {
        @extend .shadow--small;
        border-right: 1px solid $nav-wrapper-border-color;
        background: $nav-bg;
    }
}

.nav {
    &__item-wrapper {
        border-bottom: 1px solid $nav-wrapper-border-color;
        padding: 0;
    }

    &__link {
        @extend .font--button;
        display: block;
        padding: sp(3) sp(2);
        text-decoration: none;
        color: $nav-item-color;

        &.--active {
            background: $nav-item-bg;
            color: $nav-item-active-color;
        }
    }

    &__icon {
        margin-right: sp(2);
    }
}