@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/shadows';

$selectable-border-hover-color: $primary;
$selectable-border-color: transparent;
$selectable-toggle-button-bg: transparent;
$selectable-toggle-button-selected-bg: $primary;
$selectable-toggle-border: $primary;
$selectable-border: 3px solid $selectable-border-hover-color;

.selectable-card {
    &__toggle {
        position: absolute;
        height: 0;
        width: 0;
        display: none;

        &:checked + .selectable-card__wrapper {
            border: $selectable-border; 
            box-shadow: none;
        }

        &:checked + div .selectable-card__select-toggle {
            background: $selectable-toggle-button-selected-bg;
        }
    }

    &__wrapper {
        @extend .shadow--medium;
        border: 3px solid $selectable-border-color;
        display: flex;
        cursor: pointer;

        .--selected & {
            border: $selectable-border;
            box-shadow: none;
        }
    }

    &__selection-wrapper {
        max-width: sp(10);
        display: flex;
        align-items: center;

        .--multi & {
            align-items: initial;
        }

        .checkbox {
            &__wrapper {
                margin-top: px(10);
                height: px(50);
            }

            &__icon {
                font-size: px(42);
            }
        }
    }

    &__select-toggle {
        height: sp(4.5);
        width: sp(4.5);
        border-radius: 50%;
        padding: 0;
        box-shadow: none;
        background: $selectable-toggle-button-bg;
        border: 1px solid $selectable-toggle-border;

        &:hover {
            background: $selectable-toggle-button-bg;
        }
    }

    &__content-wrapper {
        flex: 1;
        padding: sp(1) sp(1) sp(1) sp(3);
    }
}